\s*
{\s*
"Id":"<#=Model.__PrimaryKey.ToString()#>",\s*
"Body":"<#=Model.Body#>",\s*
"MessageFormingTime":"<#=Model.ReceivingTime.ToString("yyyy-MM-ddTHH:mm:ss.ff")#>[\d]?",\s*
"MessageTypeID":"<#=Model.MessageType.ID#>",\s*
"SenderName":"<#=(Model.Sender ?? "null")#>",\s*
"GroupID":"<#=(Model.Group ?? "null")#>",\s*
"Tags":<#=tagsAsString#>,\s*
"Attachment":"<#=(Model.Attachment ?? "null")#>"\s*
}\s*