<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity" xdt:Transform="Replace">
    <assembly name="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <assembly name="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <assembly name="NewPlatform.Flexberry.ServiceBus" />
    <assembly name="NewPlatform.Flexberry.ServiceBus.ClientTools" />
    <assembly name="NewPlatform.Flexberry.ServiceBus.Components" />
    <assembly name="NewPlatform.Flexberry.ServiceBus.RabbitMQ" />
    <alias alias="singleton" type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions" />
    <container>
      <register type="ICSSoft.STORMNET.Business.Audit.IAuditService, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.Audit.AuditService, ICSSoft.STORMNET.Business" />

      <!--Esb dataservice-->
      <register name="esbDataService" type="ICSSoft.STORMNET.Business.IDataService, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.PostgresDataService, ICSSoft.STORMNET.Business.PostgresDataService">
        <property name="CustomizationString" value="Server=localhost;Port=5432;User Id=flexberryservicebususer;Password=jhv;Database=flexberryservicebus;" />
        <lifetime type="singleton" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" mapTo="NewPlatform.Flexberry.ServiceBus.Components.Log4NetLogger">
        <constructor>
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
        </constructor>
        <lifetime type="singleton" />
      </register>

      <!--Statistics service-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsSettings" mapTo="NewPlatform.Flexberry.ServiceBus.Components.DefaultStatisticsSettings">
        <constructor>
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
        </constructor>
        <lifetime type="singleton" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsSaveService" mapTo="NewPlatform.Flexberry.ServiceBus.Components.DefaultStatisticsSaveService">
        <constructor>
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
        </constructor>
        <lifetime type="singleton" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsTimeService" mapTo="NewPlatform.Flexberry.ServiceBus.Components.DefaultStatisticsTimeService">
        <lifetime type="singleton" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsService" mapTo="NewPlatform.Flexberry.ServiceBus.Components.DefaultStatisticsService">
        <lifetime type="singleton" />
        <property name="CollectBusStatistics" value="false" />
        <property name="CollectAdvancedStatistics" value="true" />
        <property name="StatisticsSavingPeriod" value="60000" />
      </register>

      <!--AMQP connection to RabbitMQ-->
      <register type="RabbitMQ.Client.IConnectionFactory, RabbitMQ.Client" mapTo="RabbitMQ.Client.ConnectionFactory, RabbitMQ.Client">
        <lifetime type="singleton" />
        <property name="Uri" value="amqp://guest:guest@localhost:5672" />
        <property name="Protocol">
          <dependency type="RabbitMQ.Client.Framing.Protocol, RabbitMQ.Client" />
        </property>
        <property name="DispatchConsumersAsync" value="true" />
      </register>

      <!--RabbitMQ Management Plugin-->
      <register type="EasyNetQ.Management.Client.IManagementClient, EasyNetQ.Management.Client" mapTo="EasyNetQ.Management.Client.ManagementClient, EasyNetQ.Management.Client">
        <constructor>
          <param name="hostUrl" value="localhost" />
          <param name="username" value="guest" />
          <param name="password" value="guest" />
          <param name="portNumber" value="15672" />
          <param name="timeout" value="00:00:10">
          </param>
          <param name="configureRequest">
            <optional />
          </param>
          <param name="ssl" value="false" />
        </constructor>
      </register>

      <!--Subscription managers-->
      <register name="esbSubscriptionsManager" type="NewPlatform.Flexberry.ServiceBus.Components.ISubscriptionsManager" mapTo="NewPlatform.Flexberry.ServiceBus.Components.CachedSubscriptionsManager">
        <constructor>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
          <param name="statisticsService">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsService" />
          </param>
        </constructor>
        <lifetime type="singleton" />
      </register>
      <register name="rmqSubscriptionsManager" type="NewPlatform.Flexberry.ServiceBus.Components.ISubscriptionsManager" mapTo="NewPlatform.Flexberry.ServiceBus.Components.RmqSubscriptionsManager">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
          <param name="managementClient">
            <dependency type="EasyNetQ.Management.Client.IManagementClient, EasyNetQ.Management.Client" />
          </param>
          <param name="vhost" value="/" />
        </constructor>
      </register>

      <!--Subscriprion synchronizer-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.ISubscriptionSynchronizer" mapTo="NewPlatform.Flexberry.ServiceBus.Components.RmqSubscriptionsSynchronizer">
        <lifetime type="singleton" />
        <constructor>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
          <param name="esbSubscriptionsManager">
            <dependency name="esbSubscriptionsManager" />
          </param>
          <param name="mqSubscriptionsManager">
            <dependency name="rmqSubscriptionsManager" />
          </param>
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
          <param name="managementClient">
            <dependency type="EasyNetQ.Management.Client.IManagementClient, EasyNetQ.Management.Client" />
          </param>
          <param name="vhost" value="/" />
        </constructor>
      </register>

      <!--Messager converter-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IMessageConverter" mapTo="NewPlatform.Flexberry.ServiceBus.Components.RmqMessageConverter">
        <lifetime type="singleton" />
      </register>

      <!--AMQP naming manager-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.AmqpNamingManager" mapTo="NewPlatform.Flexberry.ServiceBus.Components.AmqpNamingManager">
        <lifetime type="singleton" />
      </register>

      <!--Receiving/Sending managers-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IReceivingManager" mapTo="NewPlatform.Flexberry.ServiceBus.Components.RmqReceivingManager">
        <constructor>
          <param name="logger" />
          <param name="converter" />
          <param name="rmqUri" value="amqp://guest:guest@localhost:5672/_" />
        </constructor>
        <lifetime type="singleton" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.ISendingManager" mapTo="NewPlatform.Flexberry.ServiceBus.Components.RmqSendingManager">
        <constructor>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
          <param name="esbSubscriptionsManager">
            <dependency name="esbSubscriptionsManager" />
          </param>
          <param name="connectionFactory">
            <dependency type="RabbitMQ.Client.IConnectionFactory, RabbitMQ.Client" />
          </param>
          <param name="managementClient">
            <dependency type="EasyNetQ.Management.Client.IManagementClient, EasyNetQ.Management.Client" />
          </param>
          <param name="converter">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.IMessageConverter" />
          </param>
          <param name="namingManager">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.AmqpNamingManager" />
          </param>
          <param name="vhost" value="/" />
          <param name="useLegacySenders" value="true" />
        </constructor>
        <lifetime type="singleton" />
      </register>

      <!--ILogger logger, ISubscriptionsManager esbSubscriptionsManager, ISubscriptionsManager rmqSubscriptionsManager, IStatisticsSettings statisticsSettings, IManagementClient managementClient, AmqpNamingManager namingManager, IStatisticsSaveService statisticsSaveService-->
      <register type="NewPlatform.Flexberry.ServiceBus.Components.IExternalStatisticsCollector" mapTo="NewPlatform.Flexberry.ServiceBus.Components.StatisticsService.RmqStatisticsCollector">
        <constructor>
          <param name="logger">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.ILogger" />
          </param>
          <param name="esbSubscriptionsManager">
            <dependency name="esbSubscriptionsManager" />
          </param>
          <param name="statisticsSettings">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsSettings" />
          </param>
          <param name="managementClient">
            <dependency type="EasyNetQ.Management.Client.IManagementClient, EasyNetQ.Management.Client" />
          </param>
          <param name="namingManager">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.AmqpNamingManager" />
          </param>
          <param name="statisticsSaveService">
            <dependency type="NewPlatform.Flexberry.ServiceBus.Components.IStatisticsSaveService" />
          </param>
          <param name="vhost" value="/" />
        </constructor>
        <lifetime type="singleton" />
      </register>

      <!--Esb interfaces-->
      <register name="wcfAddress" type="System.Uri" mapTo="System.Uri">
        <constructor>
          <param name="uriString" value="http://localhost:7075/WcfService" />
        </constructor>
      </register>
      <register name="wcfBinding" type="System.ServiceModel.Channels.Binding" mapTo="System.ServiceModel.WSHttpBinding">
        <constructor>
          <!--In mono this "mode", usually this "securityMode".-->
          <param name="securityMode" value="None" parameterType="System.ServiceModel.SecurityMode" />
          <param name="reliableSessionEnabled" value="false" />
        </constructor>
      </register>
      <register name="objectRepository" type="NewPlatform.Flexberry.ServiceBus.Components.IObjectRepository" mapTo="NewPlatform.Flexberry.ServiceBus.Components.CachedDataServiceObjectRepository">
        <constructor>
          <param name="logger" />
          <param name="dataService">
            <dependency name="esbDataService" />
          </param>
          <param name="statisticsService" />
        </constructor>
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.WcfService" mapTo="NewPlatform.Flexberry.ServiceBus.Components.WcfService">
        <lifetime type="singleton" />
        <constructor>
          <param name="subscriptionsManager">
            <dependency name="esbSubscriptionsManager" />
          </param>
          <param name="sendingManager" />
          <param name="receivingManager" />
          <param name="logger" />
          <param name="statisticsService" />
          <param name="objectRepository">
            <dependency name="objectRepository" />
          </param>
        </constructor>
        <property name="Address" dependencyName="wcfAddress" />
        <property name="Binding" dependencyName="wcfBinding" />
        <property name="UseWcfSettingsFromConfig" value="false" />
        <property name="PublishWSDL" value="true" />
      </register>
      <register type="NewPlatform.Flexberry.ServiceBus.Components.WebApiService" mapTo="NewPlatform.Flexberry.ServiceBus.Components.WebApiService">
        <lifetime type="singleton" />
        <constructor>
          <param name="baseAddress" value="http://+:7085/RestService" />
          <param name="sendingManager" />
          <param name="receivingManager" />
        </constructor>
      </register>
      <register type="ICSSoft.STORMNET.Security.ISecurityManager, ICSSoft.STORMNET.DataObject" mapTo="ICSSoft.STORMNET.Security.EmptySecurityManager, ICSSoft.STORMNET.DataObject">
        <!--Flexberry security setting. Used by Flexberry ORM.-->
      </register>
      <register type="ICSSoft.STORMNET.Business.IConfigResolver, ICSSoft.STORMNET.Business" mapTo="ICSSoft.STORMNET.Business.ConfigResolver, ICSSoft.STORMNET.Business">
        <lifetime type="singleton" />
        <constructor />
      </register>
    </container>
  </unity>
  
</configuration>